@charset "UTF-8";

/*CONFIGURAÇÕES GERAIS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
    background-color: #121212;
    color: #e0e0e0;
}

i{
    margin-right: 5px;
}

input{
    box-sizing: border-box;
}


/*HEADER*/
header{
    background-color: #1e1e1e;
}

/*Logo*/
.top-bar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 40px;
}

.logo h1{
    font-size: 2em;
}

/*Nav Bar*/
.nav-bar{
    display: flex;
    gap: 20px;
}

.nav-bar a{
    color: #FFa500;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.nav-bar a:hover{
    color: #ffb732;
}

/*User Options*/
.user-options{
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-options a{
    color: #e0e0e0;
    text-decoration: none;
    transition: .3s
}

.user-options a:hover{
    color: #c2c1c1;
}

.user-options input{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #FFa500;
}

.user-options button{
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;
    color: #e0e0e0;
}




/*MAIN*/
main{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/*Images*/
.product-details{
    display: flex;
    gap: 40px;
}

.gallery{
    flex: 1;
}

.gallery img{
    width: 100%;
    border-radius: 10px;
}

.small-pics{
    display: flex;
    gap: 10px;

    margin-top: 15px;
}

.small-pics img{
    width: 60px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: .3s;
}

.small-pics img:hover{
    border-color: #FFa500;
}

/*Product Info*/
.info{
    flex: 1;
}

.path, .code{
    color: #777;
    margin-bottom: 15px;
    font-size: .9rem;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 15px;
    line-height: 38px;
}

.price{
    color: #FFa500;
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.rating{
    color: #81c784;
    font-size: .9rem;
    margin-bottom: 10px;
}

.description{
    font-weight: 100;
    margin-bottom: 15px;
}

.buy-options{
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.options{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buy-options label{
    margin-bottom: -10px;
}

#color, #quantity{
    padding: 8px;
    border-radius: 5px;
    width: 100px;
    border: 1px solid #FFa500;
}


/*Buttons*/
.buttons{
    display: flex;
    gap: 15px;
}

.add-cart, .add-wishlist{
    background-color: #1e1e1e;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;;
    cursor: pointer;
    transition: .5s;
}

.add-cart{
    color: #388e3C;
    border: 2px solid #388e3C;
}

.add-cart:hover{
    background-color: #388e3C;
    color: white;
}

.add-wishlist{
    border: 2px solid #FFa500;
    color: #FFa500;
}

.add-wishlist:hover{
    color: #e0e0e0;
    background-color: #FFa500;
}

/*Delivery*/
.delivery-time{
    color: #777;
    font-size: .9rem;
}

.delivery-time a{
    color: #777;
    text-decoration: none;
}

.delivery-time a:hover{
    text-decoration: underline;
}

/*Menu Responsivo*/
@media(max-width: 1024px){
    .top-bar{
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .logo h1{
        margin-top: 0;
    }
}