@charset "UTF-8";

/*CONFIGURAÇÕES GERAIS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
    background-color: #121212;
    color: white;
    max-width: 100vw;
    max-height: 100vh;
}

header, main, footer{
    border: 3px solid green
}



/*HEADER*/
header{
    background-color: #1E1E1E;
}

.top-bar{
    /*border: 3px solid blue;*/
    text-align: center;
    padding: 15px 0;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

.logo, .nav-bar, .user-options{
    /*border: 3px solid red;*/

    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;
}

.logo img{
    width: 45px;
}

.nav-bar a{
    color: #ed9a00;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.user-options a{
    color: white;
    text-decoration: none;
}

.user-options input{
    height: 30px;
    padding-left: 5px;

    border-radius: 5px;
    border: 1px solid #ed9a00;
}   

.user-options button{
    cursor: pointer;

    background-color: #1E1E1E;
    border: 1px solid #1E1E1E;
    color: white;
    font-size: 15px;
}




/*ARTICLES*/
article{
    border: 3px solid tomato;
}

section{
    border: 3px solid turquoise;

    width: 38%;
}

.product-details{
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.gallery{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.big-pic img{
    width: 520px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.500);
}

.small-pics img{
    width: 65px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.500);
    margin-right: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.small-pics img:hover{
    border: 2px solid #ed9a00;
    transition: 0.1s;
}


.info{
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.details, .buy-options{
    border: 1px solid lightsalmon;
}

.path, .code{
    color: #656565;
    font-size: 14px;
    margin-bottom: 10px;
}

.info h1{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
}

.price{
    color: #ed9a00;
    font-size: 32px;
    margin: 15px 0;
}

.rating{
    color: #81C587;
    font-size: 15px;
}




























@media(max-width: 1024px){
    .top-bar{
        flex-flow: column;
        gap: 8px;
    }

    .logo, .nav-bar, .user-options{
        width: 100%;
        gap: 2px;
    }
}